/build/
/bin/
/lib/
/dist/
/test-output/
/jvm/test-output/
/temp*
*.settings/
/nbproject/private/
*target/
.classpath
.project
.checkstyle
*.class
*.jar
*.war
*.ear
/*.launch
/*.dic
/.idea
*.iml
.metals
/project/project/
/project/target/
