name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Java (temurin@8)
          uses: actions/setup-java@v5
          with:
            distribution: temurin
            java-version: 8
            cache: sbt
      - name: Setup sbt
        uses: sbt/setup-sbt@v1
      - name: Checking your code format
        run: sbt scalafmtCheckAll
      - name: Run tests
        run: |
          sbt clean +apiJVM/test +apiJS/test +apiNative/test +apiJVM/publishLocal
          sbt sbt_locales/scripted
