name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: olafurpg/setup-scala@v13
        with:
          java-version: 1.8
      - name: Cache Coursier
        uses: actions/cache@v3.0.1
        with:
          path: ~/.cache/coursier
          key: sbt-coursier-cache
      - name: Cache SBT
        uses: actions/cache@v3.0.1
        with:
          path: ~/.sbt
          key: sbt-${{ hashFiles('**/build.sbt') }}
      - name: Checking your code format
        run: sbt scalafmtCheckAll
      - name: Run tests
        run: |
          sbt clean +apiJVM/test +apiJS/test +apiNative/test +apiJVM/publishLocal
          sbt sbt_locales/scripted
